<!--  Наследуюсь от шаблона default.html, который создаю для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название будет Search -->
{% block title %}
Search
{% endblock title %}

<!-- В контенте на странице вывожу поля для поиска -->
{% block content %}

    <h1>Поиск новостей и статей</h1>
    {% if empty_filter %}
        <h4>Найдено: 0</h4>
    {% else %}
        <h4>Найдено: {{paginator.count}}</h4>
    {% endif %}

    <form method="get" action="">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

    <hr>
    {% if empty_filter %}
        {# Сообщение по-умолчанию #}
        <h2>Задайте параметры поиска</h2>
    {% else %}
        {% include "content.html" %}
    {% endif %}

{% endblock content %}